# DATABASE
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydb
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JWT
JWT_SECRET=your_ultra_long_secret_key_here

# EXTERNAL SERVICES
COINMARKETCAP_API_KEY=
