# ==================== General ====================
COMPOSE_PROJECT_NAME=crypto-arb-dev

# ==================== Postgres ====================
# Primary
PRIMARY_DATABASE_URL=jdbc:postgresql://localhost:5432/mydb
PRIMARY_DATABASE_USERNAME=
PRIMARY_DATABASE_PASSWORD=

# Replica
REPLICA_DATABASE_URL=jdbc:postgresql://localhost:5432/mydb
REPLICA_DATABASE_USERNAME=
REPLICA_DATABASE_PASSWORD=

# ==================== Backend ====================
JWT_SECRET=
COINMARKETCAP_API_KEY=
