server:
  port: 8080

spring:
  application:
    name: crypto-arb-core
  web:
    error:
      whitelabel:
        enabled: false
  profiles:
    active: dev

  # --- DATABASE SETTINGS ---
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      pool-name: ${HIKARI_POOL_NAME:Main-Hikari-Pool}
      maximum-pool-size: ${DB_MAX_POOL_SIZE:10}
      minimum-idle: ${DB_MIN_IDLE:10}
      connection-timeout: ${DB_CONNECTION_TIMEOUT:30000}
      max-lifetime: ${DB_MAX_LIFETIME:1800000}

  # --- JPA / HIBERNATE SETTINGS ---
  jpa:
    properties:
      hibernate:
        default_schema: public

  # --- FLYWAY SETTINGS ---
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0

logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr([%X{traceId}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"

jwt:
  secret: ${JWT_SECRET}
  access:
    expiration: 900000
    cookie-name: accessToken
  refresh:
    expiration: 604800000
    cookie-name: refreshToken
    cleanup-cron: 0 0 3 * * ?
